<h1>Data Preprocessing</h1>

This dataset contains household level transactions over two years from a group of 2,500 households who are frequent shoppers at a retailer. It contains all of each householdâ€™s purchases, not just those from a limited number of categories. For certain households, demographic information as well as direct marketing contact history are included.

Due to the number of tables and the overall complexity of The Complete Journey, it is suggested that this database be used in more advanced classroom settings. Further, The Complete Journey would be ideal for academic research as it should enable one to study the effects of direct marketing to customers.

In [2]:
import pandas as pd
import numpy as np

In [4]:
demo = pd.read_csv('./data/hh_demographic.csv')
prod = pd.read_csv('./data/product.csv')
trans = pd.read_csv('./data/transaction_data.csv')

demo.head()

,AGE_DESC,MARITAL_STATUS_CODE,INCOME_DESC,HOMEOWNER_DESC,HH_COMP_DESC,HOUSEHOLD_SIZE_DESC,KID_CATEGORY_DESC,household_key
0,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown,1
1,45-54,A,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,7
2,25-34,U,25-34K,Unknown,2 Adults Kids,3,1,8
3,25-34,U,75-99K,Homeowner,2 Adults Kids,4,2,13
4,45-54,B,50-74K,Homeowner,Single Female,1,None/Unknown,16

In [5]:
prod.head()

,PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ

In [6]:
trans.head()

,household_key,BASKET_ID,DAY,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,TRANS_TIME,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

Summary of tables: 
1. HH Demographic shows the demographic of purchasers. It shows the following characteristics 
     - age bucket 
     - marital status 
     - income bucket 
     - homeowner status
     - dependent status or how many people in household 
     - household size 
     - kid category 
     - household key (identifier)
1. Product shows the products and their information 
     - product_id (identifier)
     - manufacturer 
     - department 
     - brand 
     - commodity description 
     - sub commodity description 
     - current size of product
1. Transactions shows the transaction information  
     - household key (identifying party)
     - basket_id 
     - day 
     - product id 
     - quantity 
     - sales value 
     - store_id 
     - retail_discount 
     - transaction time 
     - week_no

### exploring slicing patterns

In [8]:
prod['DEPARTMENT'].unique()

<StringArray>
[        'GROCERY',    'MISC. TRANS.',          'PASTRY',         'DRUG GM',
      'MEAT-PCKGD',   'SEAFOOD-PCKGD',         'PRODUCE',       'NUTRITION',
            'DELI',       'COSMETICS',            'MEAT',          'FLORAL',
 'TRAVEL & LEISUR',         'SEAFOOD', 'MISC SALES TRAN',       'SALAD BAR',
       'KIOSK-GAS', 'ELECT &PLUMBING',      'GRO BAKERY',    'GM MERCH EXP',
  'FROZEN GROCERY',  'COUP/STR & MFG',         'SPIRITS',   'GARDEN CENTER',
            'TOYS', 'CHARITABLE CONT',      'RESTAURANT',              'RX',
  'PROD-WHS SALES',       'MEAT-WHSE',      'DAIRY DELI',     'CHEF SHOPPE',
             'HBC',  'DELI/SNACK BAR',            'PORK',      'AUTOMOTIVE',
    'VIDEO RENTAL',               ' ', 'CNTRL/STORE SUP',      'HOUSEWARES',
   'POSTAL CENTER',           'PHOTO',           'VIDEO', 'PHARMACY SUPPLY']
Length: 44, dtype: str

In [16]:
#group the number of occurences of each commodity description then count 
prod_desc = trans.merge(prod, on="PRODUCT_ID", how='inner') 
prod_desc.groupby('COMMODITY_DESC')['BASKET_ID'].count().reset_index().sort_values(by="BASKET_ID", ascending=False).head(50)

                     COMMODITY_DESC  BASKET_ID
273                     SOFT DRINKS     117532
124             FLUID MILK PRODUCTS      85630
15           BAKED BREAD/BUNS/ROLLS      83232
52                           CHEESE      74885
14                       BAG SNACKS      67190
140          FRZN MEAT/MEAT DINNERS      56064
25                             BEEF      48726
274                            SOUP      46135
307                          YOGURT      44697
134                    FROZEN PIZZA      43362
300       VEGETABLES - SHELF STABLE      41612
67                      COLD CEREAL      37870
43                CANDY - CHECKLANE      35556
185                       LUNCHMEAT      35162
292                  TROPICAL FRUIT      34442
44                 CANDY - PACKAGED      34177
244          REFRGRATD JUICES/DRNKS      31469
80             CRACKERS/MISC BKD FD      29723
45                    CANNED JUICES      29149
103                            EGGS      28420
167          ICE CREAM/MILK/SHERBTS      27853
16                BAKED SWEET GOODS      27853
78                COUPON/MISC ITEMS      27849
81                       DELI MEATS      25203
159                        HISPANIC      23984
69                CONDIMENTS/SAUCES      23514
190             MEAT - SHELF STABLE      23424
193                MILK BY-PRODUCTS      23026
73                    COOKIES/CONES      22698
144          FRZN VEGETABLE/VEG DSH      22564
71   CONVENIENT BRKFST/WHLSM SNACKS      22547
135            FRUIT - SHELF STABLE      21536
254          SALD DRSNG/SNDWCH SPRD      21343
306  WATER - CARBONATED/FLVRD DRINK      21232
96           DRY BN/VEG/POTATO/RICE      21213
299         VEGETABLES - ALL OTHERS      20386
10                       BABY FOODS      20356
87                   DINNER MXS:DRY      19631
243        REFRGRATD DOUGH PRODUCTS      18960
19                     BAKING MIXES      17907
26                       BEERS/ALES      17810
54                          CHICKEN      17762
98                DRY NOODLES/PASTA      17331
252                       SALAD MIX      17093
212                          ONIONS      16951
234                        POTATOES      16254
48                         CAT FOOD      16210
289                        TOMATOES      15884
220                     PASTA SAUCE      15006
241             PWDR/CRYSTL DRNK MX      14597

Choose to use the cold cereal category

Our source of heterogeniety is the household_key, as each individual we observe is going to have a household_key. Each transaction is a basket_id. We will then filter for a specific set of foods or categories: